@use "../../../css/functions" as fn;
@use "../../../css/_utils";
@use "../../../css/mixins";

:host {
  display: block;
  border-radius: var(--ce-panel-radius);
  background-color: var(--ce-panel-bg);
  transition: all .3s;
  overflow: hidden;
}

.ce-panel {
  height: inherit;

  &.ce-panel-flush {
    .ce-panel-header {
      padding-block: 0 !important;
      padding-inline: 0 !important;

      >ce-button {
        border-radius: 0 !important;
        padding-block: calc(var(--ce-panel-gap) * .5);
      }
    }

    >main {
      .ce-panel-body {
        padding-top: var(--ce-panel-gap);
      }
    }
  }

  .ce-panel-header {
    transition: padding-block .3s;
    padding-block: var(--ce-panel-gap-expanded);
    padding-inline: var(--ce-panel-padding);
    font-size: var(--ce-panel-header-size);
    z-index: 0;

    >ce-button {
      --ce-opacity-underlay: 0.05;
      height: auto;

      &::part(root) {
        transition: padding-block .3s;
        padding-block: var(--ce-panel-gap);
      }
    }

    &.ce-panel-flush {
      padding-inline: 0;
      padding-block: 0;
    }

    h3 {
      color: fn.color(--ce-color-text-rgb);
      font-family: inherit;
      font-weight: bolder;
      margin: 0;
      @include mixins.text-md;
      width: 100%;
      display: inline-flex;
      align-items: center;
    }
  }

  >main {
    flex: 1;
    overflow: auto;
    padding-inline: var(--ce-panel-padding);
    padding-bottom: var(--ce-panel-padding);

    .ce-panel-body {
      height: 100%;
      font-size: var(--ce-panel-body-size);
    }
  }

  >footer {
    padding-inline: var(--ce-spacing-md);
  }

  &.ce-panel-collapsible {
    main {
      display: grid;
      overflow: hidden;
      grid-template-rows: 1fr;
      transition: all 0.3s;
    }

    .ce-panel-body {
      overflow: hidden;
      transition: all 0.3s;
    }

    .ce-panel-arrow {
      transform: 0 !important;
      transition: transform 0.3s;
    }

    &.ce-panel-contracted {
      .ce-panel-header {
        padding-block: var(--ce-panel-gap);

        >ce-button {
          height: auto; //var(--ce-button-h);

          &::part(root) {
            padding-block: calc(var(--ce-panel-gap) / 2);
          }
        }
      }

      main {
        grid-template-rows: 0fr;
        padding-bottom: 0;

        .ce-panel-body {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .ce-panel-arrow {
        transform: rotateZ(-90deg) !important;
      }
    }
  }
}