@use "../../../css/functions" as fn;

:host {
  display: inline-block;
  --border-color: var(--ce-color-border-active);
  --color: var(--ce-color-primary);
}

.ce-form-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  .ce-form-checkbox-container {
    position: relative;
    // overflow: hidden;

    .ce-form-checkbox-box {
      width: 16px;
      height: 16px;
      outline-offset: 5px;
      outline: 1px solid transparent;
      transition:
        border 0.1s,
        outline 0.2s,
        outline-width 0.2s,
        outline-offset 0.2s;
      border: 1px solid fn.color(--ce-color-placeholder-rgb);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.2s;
      }

      &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 0 0 2px 2px;
        border-color: transparent;
        width: 60%;
        height: 25%;
        left: 15%;
        top: 20%;
        transition:
          left 0.2s,
          transform 0.2s;
      }

      &.is-rounded {
        border-radius: var(--ce-round-sm);
      }
    }

    input {
      position: absolute;
      opacity: 0;
      width: 2rem;
      // height: 2rem;
      left: -0.5rem;
      top: -0.5rem;
      margin: 0;

      &[readonly] {
        pointer-events: none;
      }
    }

    input:checked~.ce-form-checkbox-box {
      outline: 1px solid var(--color);

      &::before {
        background-color: var(--color);
      }

      &::after {
        border-color: #fff;
        transform: rotateZ(-52deg);
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    .ce-form-checkbox-label {
      color: fn.color(--ce-color-placeholder-rgb);
    }

    .ce-form-checkbox-container {
      input {
        cursor: not-allowed;
      }

      .ce-form-checkbox-box {
        outline-width: 0 !important;

        &::before {
          filter: opacity(0.5);
        }

        &:hover {
          color: fn.color(--ce-color-placeholder-rgb) !important;
        }
      }
    }
  }

  &:not(&.is-disabled) {

    &.is-indeterminate .ce-form-checkbox-container .ce-form-checkbox-box,
    .ce-form-checkbox-container input:checked~.ce-form-checkbox-box {
      border-color: transparent !important;
      outline-offset: 0px;
    }

    &.is-indeterminate .ce-form-checkbox-container>.ce-form-checkbox-box {
      outline: 1px solid color-mix(in srgb, var(--color) 60%, transparent);

      &::before {
        background-color: var(--color);
      }

      &::after {
        border-color: #fff;
        transform: rotateZ(-52deg);
      }
    }

    // &.is-indeterminate .ce-form-checkbox-box .ce-form-checkbox-box,
    // .ce-form-checkbox-box input:not(input:checked):focus ~ .ce-form-checkbox-box {
    //   border-color: fn.color(--border-color, 0.6);
    // }

    &:hover .ce-form-checkbox-container input:not(input:checked)~.ce-form-checkbox-box,
    .ce-form-checkbox-container input:not(input:checked):hover~.ce-form-checkbox-box {
      border-color: var(--border-color);
    }
  }

  &.is-indeterminate {
    .ce-form-checkbox-box {
      &::after {
        left: 20%;
        // top: 10%;
        border-color: #fff;
        border-width: 0 0 2px 0;
        transform: rotateZ(0) !important;
      }
    }
  }
}