@use "../../../css/mixins";
@use "../../../css/functions" as fn;
@use "../../../css/utils";

:host {
  display: inline-block;
}

.ce-form-select {
  position: relative;
  // display: flex;
  // align-items: center;

  ce-nav .ce-form-select-caret {
    cursor: auto;
  }

  .ce-form-select-caret {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    color: fn.color(--ce-color-placeholder-rgb);
    pointer-events: none;
  }

  &.is-disabled .ce-form-select-caret {
    background-color: fn.color(--ce-color-disabled-rgb);
    color: fn.color(--ce-color-placeholder-rgb) !important;
  }

  ce-input[active] .ce-form-select-caret,
  &:not(.is-disabled):hover .ce-form-select-caret,
  &:not(.is-disabled):focus-within .ce-form-select-caret {
    color: fn.color(--ce-color-text-rgb);
  }

  .ce-form-select-select-item {
    border-radius: 0;
    display: flex;
    justify-content: space-between;

    .ce-form-select-label {
      flex: 1;
      overflow: hidden;
      display: inline-block;
      max-width: 80%;
      text-overflow: ellipsis;
      pointer-events: none;

      &::selection {
        // color: #fff;
        background-color: fn.color(--ce-color-warning-rgb);
      }
    }

    .ce-form-select-check-icon {
      pointer-events: none;
      display: inline-block;
      width: 1rem;
      font-size: 1rem;
      margin-right: -6px;
    }
  }

  >ce-input {
    width: 100%;

    &::part(input) {
      display: none;
    }
  }
}