@use "../../css/functions" as fn;

////////////////////////////////// size
:host([size="xs"]) {
  --ce-button-h: 1.5em;
  --ce-button-fs: 0.75em;
  --ce-button-px: .625em;
  --ce-button-gap: .25em;
}

:host([size="sm"]) {
  --ce-button-h: 1.75em;
  --ce-button-fs: .8125em;
  --ce-button-px: .75em;
  --ce-button-gap: .25em;
}

:host([size="md"]) {
  --ce-button-h: 2.25em;
  --ce-button-fs: .875em;
  --ce-button-px: 1em;
  --ce-button-gap: .375em;
}

:host([size="lg"]) {
  --ce-button-h: 2.5em;
  --ce-button-fs: 1em;
  --ce-button-px: 1.25em;
  --ce-button-gap: .5em;
}

:host([size="xl"]) {
  --ce-button-h: 3em;
  --ce-button-fs: 1.125em;
  --ce-button-px: 1.5em;
  --ce-button-gap: .5em;
}


:host {
  padding-inline: var(--ce-button-px);
  height: var(--ce-button-h);
  font-size: var(--ce-button-fs);
  overflow: hidden;
  display: inline-flex;
  --color: initial;
  color: var(--color);
  cursor: pointer;
  transition:
    width 0.2s ease,
    border 0.2s ease,
    outline 0.2s ease,
    background 0.2s ease,
    box-shadow 0.2s ease,
    border-radius 0.2s ease;
}

:host([circle]) {
  padding: 0;
  gap: 0;
  width: var(--ce-button-h);
  border-radius: var(--ce-round-circle) !important;

  &::part(root) {
    justify-content: center;
  }
}

:host([block]) {
  display: flex;
}

:host([color="info"]) {
  --color: var(--ce-color-info);
}

:host([color="success"]) {
  --color: var(--ce-color-success);
}

:host([color="warning"]) {
  --color: var(--ce-color-warning);
}

:host([color="error"]) {
  --color: var(--ce-color-error);
}

:host([color="text"]) {
  --color: var(--ce-color-text);
}


:host(ce-button[loading]) {
  cursor: default;
  user-select: none;
  pointer-events: none;

  &::part(__underlay) {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 1);
  }
}

:host(ce-button[stacked]) {
  height: auto;
  padding-block: calc(var(--ce-button-px) / 2);
}

/////////////////// appearance
:host(ce-button[appearance="flat"]) {
  background-color: var(--color, var(--ce-color-info));
  color: #fff;
}

:host([appearance="outlined"][active]) {
  color: var(--active-color, var(--color, var(--ce-color-primary)));
  border: 1px solid var(--active-color, var(--color, var(--ce-color-info)));
}

:host(ce-button[appearance="pale"]) {
  --color: var(--ce-color-info);
  color: var(--color, var(--ce-color-text));

  &::part(__underlay) {
    background: var(--color, var(--ce-color-text));
    opacity: var(--ce-opacity-underlay);
  }
}

:host(ce-button[appearance="pale"][active]) {
  color: var(--active-color, var(--color, var(--ce-color-primary)));
}

:host([appearance="subtle"]) {
  --color: var(--ce-color-text);
}

:host(ce-button[appearance="subtle"][active]) {
  color: var(--active-color, var(--color, var(--ce-color-primary)));
}

:host(ce-button[appearance="subtle-invert"]) {
  color: var(--color, var(--ce-color-text));

  &::part(__underlay) {
    background: var(--color, var(--ce-color-text));
    opacity: var(--ce-opacity-underlay);
  }
}

:host(ce-button[appearance="text"]) {
  color: var(--color, var(--ce-color-text));
}

:host(ce-button[appearance="text"][active]) {
  color: var(--active-color, var(--color, var(--ce-color-primary)));
}

.ce-button {
  cursor: inherit;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--ce-button-gap);

  //通用root样式
  background: transparent;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  width: 100%;
  // height: inherit;
  padding: 0;
  transition: opacity .3s;

  &:not(.is-loading):hover {
    z-index: 1;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[readonly] {
    cursor: default;
  }

  &.ce-button-stacked {
    display: grid;
    line-height: normal;
    align-content: center;
    justify-items: center;

    ce-icon {
      padding-right: 0 !important;
    }
  }

  .ce-button-text {
    flex: 1;

    ::slotted(*) {
      overflow: hidden;
      min-height: 0;
    }
  }
}

.is-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  overflow: hidden;

  &.ce-button-show {
    display: block;
    opacity: 1;
    z-index: 1;
  }

  .ce-button-default {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .ce-button-progress {
      color: currentColor;
    }

    .ce-button-cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255, .9);
    }
  }
}