@use "../../../css/functions" as fn;

%p-right-after {
  border-right-color: fn.color(--ce-color-text-rgb) !important;
  border-width: 5px 5px 5px 0;
  left: -4px;
}

%p-left-after {
  border-left-color: fn.color(--ce-color-text-rgb) !important;
  border-width: 5px 0 5px 5px;
  right: -4px;
}

%p-top-after {
  border-top-color: fn.color(--ce-color-text-rgb) !important;
  border-width: 5px 5px 0 5px;
  bottom: -4px;
}

%p-bottom-after {
  border-bottom-color: fn.color(--ce-color-text-rgb) !important;
  border-width: 0 5px 5px 5px;
  top: -4px;
}

.ce-tooltip {
  pointer-events: none;
  position: absolute;
  left: -9999px;
  background-color: fn.color(--ce-color-text-rgb);
  color: fn.color(--ce-color-gray-50-rgb);
  font-size: small;
  padding: 2px 10px;
  border-radius: var(--ce-round-sm);
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  z-index: 9960;

  &.ce-tooltip-interactive {
    pointer-events: auto;
  }

  &.ce-tooltip-visible {
    opacity: 1;
  }

  &.ce-tooltip-placement-right {
    &::after {
      @extend %p-right-after;
      top: calc(50% - 5px);
    }

    &.is-start::after {
      @extend %p-right-after;
      top: 4px;
    }

    &.is-end::after {
      @extend %p-right-after;
      top: auto;
      bottom: 4px;
    }

    &.ce-tooltip-visible {
      transform: translateX(3px);
    }
  }

  &.ce-tooltip-placement-left {
    &::after {
      @extend %p-left-after;
      top: calc(50% - 5px);
    }

    &.is-start::after {
      @extend %p-left-after;
      top: 4px;
    }

    &.is-end::after {
      @extend %p-left-after;
      top: auto;
      bottom: 4px;
    }

    &.ce-tooltip-visible {
      transform: translateX(-3px);
    }
  }

  &.ce-tooltip-placement-top {
    &::after {
      @extend %p-top-after;
      left: calc(50% - 5px);
    }

    &.is-start::after {
      @extend %p-top-after;
      left: 4px;
    }

    &.is-end::after {
      @extend %p-top-after;
      left: auto;
      right: 4px;
    }

    &.ce-tooltip-visible {
      transform: translateY(5px);
    }
  }

  &.ce-tooltip-placement-bottom {
    &::after {
      @extend %p-bottom-after;
      left: calc(50% - 5px);
    }

    &.is-start::after {
      @extend %p-bottom-after;
      left: 4px;
    }

    &.is-end::after {
      @extend %p-bottom-after;
      left: auto;
      right: 4px;
    }

    &.ce-tooltip-visible {
      transform: translateY(-3px);
    }
  }

  &.ce-tooltip-arrow {
    &::after {
      border-color: transparent;
      border-style: solid;
      content: " ";
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }
  }

  &-anchor {
    display: inline-block;
  }
}