@use "../../css/mixins";
@use "../../css/functions" as fn;
@use "../../css/_override";

:host {
  --form-item-color: var(--ce-color-primary-rgb);
  transition:
    border 0.1s,
    border-color 0.2s,
    outline 0.1s,
    width 0.2s;
}

:host([layout="inline"]) {
  ::slotted(ce-form-item) {
    margin-right: var(--ce-spacing-md);
    display: inline-block;
  }
}

:host([layout="vertical"]) {
  ::slotted(ce-form-item) {
    margin-bottom: 0.25rem;
  }
}

:host([space="loose"]) {
  min-height: calc(var(--input-height) + 8px);
}

:host([space="default"]) {
  min-height: var(--input-height);
}

:host([space="compact"]) {
  min-height: calc(var(--input-height) - 8px);
}

.ce-form {
  &-item {
    .ce-form-form-item-label {
      display: inline-block;
      font-size: 0.875rem;
    }

    .ce-form-form-item-wrapper {
      // display: inline-block;
    }

    .ce-form-form-item-error-message {
      display: inline-block;
      padding-inline: var(--ce-spacing-lg);
      padding-top: var(--ce-spacing-sm);
      font-size: var(--ce-font-xs);
      color: fn.color(--ce-color-error-rgb);
    }

    &.ce-form-layout-vertical {
      .ce-form-form-item-label {
        display: block;
      }
    }

    &.ce-form-layout-inline {
      display: flex;
      align-items: center;
      width: 100%;

      .ce-form-form-item-label {
        margin-right: var(--ce-spacing-sm);
      }

      .ce-form-form-item-wrapper {
        flex: 1;
      }
    }
  }

  &-control {
    position: relative;
    overflow: hidden;

    &.is-active,
    &:not(.is-disabled, &:focus-within):hover {
      // border-color: fn.color(--ce-color-border-active-rgb);
      border-color: fn.color(--form-item-color);
    }

    >input,
    >textarea {
      outline: none;
      border: none;
      // padding-left: 0.5rem;
      padding-right: 0.25rem;
      // line-height: 1.45;
    }

    .is-round-left {
      @include mixins.round-left;
    }

    .is-round-right {
      @include mixins.round-right;
      padding-right: 0.5rem;
    }
  }
}