@use "../../../css/functions" as fn;
@use "../../../css/utils";

////////////////////////////////// size
:host([size="sm"]) {
  --ce-tag-h: 1.25em;
  --ce-tag-fs: .75em;
  --ce-tag-px: .5em;
  --ce-tag-gap: .1875em;

  &::part(dot) {
    width: 6px;
    height: 6px;
  }
}

:host([size="md"]) {
  --ce-tag-h: 1.625em;
  --ce-tag-fs: .8125em;
  --ce-tag-px: .625em;
  --ce-tag-gap: .375em;

  &::part(dot) {
    width: 6px;
    height: 6px;
  }
}

:host([size="lg"]) {
  --ce-tag-h: 1.75em;
  --ce-tag-fs: .875em;
  --ce-tag-px: .75em;
  --ce-tag-gap: .375em;

  &::part(dot) {
    width: 8px;
    height: 8px;
  }
}

:host {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  color: currentColor;
  --color: initial;
  height: var(--ce-tag-h);
  padding-inline: var(--ce-tag-px);
}

:host([closable]) {
  padding-right: var(--ce-spacing-xs) !important;
}

/////////////////// size


.ce-tag {

  gap: var(--ce-tag-gap);
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  border-radius: inherit;

  font-size: var(--ce-tag-fs);

  .ce-tag-dot {
    display: inline-block;
    border-radius: var(--ce-round-pill);
    background-color: currentColor;
    margin-right: var(--ce-spacing-xs);
  }

  .ce-tag-content {
    text-overflow: ellipsis;
  }

  .ce-tag-close {
    cursor: pointer;
    background: transparent;
    border-radius: inherit;
    color: inherit;
    transition: all .2s;

    &:hover {
      // font-size: var(--ce-font-md-em);
      color: #fff;
      background: rgb(var(--ce-color-text-desc-rgb) / .5);
    }
  }
}

/////////////////// appearance
:host(ce-tag[appearance="pale"]) {
  &::part(__underlay) {
    background: var(--color, var(--ce-color-text-desc));
    opacity: var(--ce-opacity-underlay);
  }
}