@use "../../../css/functions" as fn;

:host {
  display: block;
  height: 4rem;
  color: fn.color(--ce-color-gray-400-rgb);
  --hover-bg-color: rgb(255, 255, 255, 0.1);
}

.ce-navbar {
  height: 100%;
  padding: 0 1.5rem;

  &.ce-navbar-border {
    border-bottom: 1px solid;
    border-color: #eaeaea;

    .ce-navbar-container [part] {
      height: 100%;

      .ce-navbar-items {
        align-items: center;
        height: 100%;

        ::slotted(*) {
          height: 100%;
          display: grid;
          align-items: center;
          border-radius: 0 !important;
        }

        ::slotted(.active) {
          border-bottom: 2px solid fn.color(--ce-color-border-active-rgb) !important;
        }

        ::slotted(:not(.active):hover) {
          border-bottom: 2px solid fn.color(--ce-color-border-rgb) !important;
        }
      }
    }
  }

  .ce-navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .ce-navbar-left-part {
      display: flex;
      align-items: center;

      .ce-navbar-brand {
        flex-shrink: 0;
      }

      .ce-navbar-items {
        align-items: baseline;
        display: flex;
        margin-left: 2.5rem;
        white-space: nowrap;

        //匹配默认插槽
        ::slotted(*) {
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.25rem;
          padding: 0.5rem 0.75rem;
          cursor: pointer;
          margin-left: 1rem;
          border-radius: var(--ce-round-md);
        }

        ::slotted(:not(.active):hover) {
          background-color: var(--hover-bg-color);
        }
      }
    }

    .ce-navbar-right-part {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }
}
