@use "../../../css/functions" as fn;

:host {
  display: block;
}

.ce-form-slider {
  position: relative;
  display: grid;
  margin-inline: 0.5rem;
  grid-template-areas:
    "prepend control append"
    "a bottomtip b";
  grid-template-columns: max-content minmax(0, 1fr) max-content;
  grid-template-rows: auto auto;

  &.is-vertical {
    grid-template-areas:
      "prepend a"
      "control bottomtip"
      "append b";
  }
  &.is-disabled {
    cursor: not-allowed;
    color: fn.color(--ce-color-placeholder-rgb);

    .ce-form-slider-control {
      pointer-events: none;
    }

    .ce-form-slider-thumb {
      box-shadow: none;
    }
  }
  .ce-form-slider-prepend {
    grid-area: prepend;
    display: flex;
    align-items: center;
  }
  .ce-form-slider-append {
    grid-area: append;
    display: flex;
    align-items: center;
  }

  .ce-form-slider-control {
    position: relative;
    grid-area: control;
    display: flex;
    align-items: center;
    min-height: 1rem;
    &:hover {
      .ce-form-slider-thumb {
        box-shadow: 1px 4px 2px -2px rgba(0, 0, 0, 0.3),
          1px 3px 3px 0 rgba(0, 0, 0, 0.24), 1px 2px 5px 0 rgba(0, 0, 0, 0.22);
      }
    }
  }
  &.is-dragging {
    .ce-form-slider-thumb {
      box-shadow: 1px 4px 2px -2px rgba(0, 0, 0, 0.3),
        1px 3px 3px 0 rgba(0, 0, 0, 0.24), 1px 2px 5px 0 rgba(0, 0, 0, 0.22) !important;
    }
  }
  .ce-form-slider-tick {
    position: absolute;
    background-color: fn.color(--ce-color-text-rgb);
    border-radius: var(--ce-round-pill);
    &.is-filled {
      background-color: #fff;
    }
  }

  .ce-form-slider-track {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    width: 100%;
    background-color: fn.color(--ce-color-border-rgb, 0.5);
    transition: all 0.2s ease;
  }
  .ce-form-slider-track-filled {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 180%;
    background-color: currentColor;
    transition: background-color 0.2s ease;
  }
  .ce-form-slider-thumb {
    position: relative;
    transform: translateX(-50%);
    background-color: currentColor;
    transition: background-color 0.3s ease, box-shadow 0.3s, border-radius 0.3s,
      width 0.3s, height 0.3s;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .ce-form-slider-bottom-tip {
    grid-area: bottomtip;
    position: relative;
    display: flex;
    // min-height: 1.5rem;
    .ce-form-slider-mark {
      position: absolute;
      font-size: 0.875rem;
      transform: translateX(-50%);

      &[data-perc="0.00"] {
        transform: translateX(0%);
      }
      &[data-perc="100.00"] {
        transform: translateX(-100%);
      }
    }
  }
}
