//ripple
.l-ripple {
  position: absolute;
  display: block;
  pointer-events: none;
  border-radius: 50%;
  will-change: transform, opacity;
  opacity: 0.1;
  transform: scale(0);
  transition: transform 0.3s ease-out, opacity 0.15s ease-out;
}
