.c-divider {
  display: flex;

  &.__vertical {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 1em;
    margin: 0 0.5rem;
  }
  &:not(&.__vertical) {
    flex-direction: row;
    align-items: center;

    .--inner-wrapper {
      // padding: 0 .5rem;
    }

    &::before {
      content: "";
      border-top: 1px solid var(--l-color-gray-200);
      flex: 1;
    }
    &::after {
      content: "";
      border-top: 1px solid var(--l-color-gray-200);
      flex: 1;
    }
  }
}
