<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    l-main>.info {
      display: none;
    }

    .show {
      display: block !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="../root.css">
  </link>
  <script src="../tailwindcss3.4.3.js"></script>
  <script src="../compelem-ui.js"></script>
  <script src="../axios.min.js"></script>
</head>

<body>

  <page-home></page-home>
  <!-- <page-test a="10" b="20" .x="33" .y="zz"></page-test> -->
</body>

</html>