<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="../root.css">
  </link>
  <script src="../tailwindcss3.4.3.js"></script>
  <script src="../compelem-ui.js"></script>
  <script src="../myfx.js"></script>
  <script src="../axios.min.js"></script>
  <script>
    let formModel = {
      name: "11",
      type: "22",
    };
    window.formModel = formModel;
  </script>
</head>

<body>
  <l-nav id="list" active-index="1" appearance="tab" onselect="select(event)">
    <div index="1">111</div>
    <div index="1sdfasdfsdfasdf" class="">222</div>
    <div index="adfasdfadsfsadfasdf" class="">未保存的协333议</div>
  </l-nav>
  <script>
    setTimeout(() => {
      list.activeIndex = 'adfasdfadsfsadfasdf'
    }, 3000);
  </script>
</body>

</html>