<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="../root.css">
  </link>
  <script src="../tailwindcss3.4.3.js"></script>
  <script src="../compelem-ui.js"></script>
  <script src="../axios.min.js"></script>
  <script>
    let formModel = {
      serverUrl: "11",
      serverPort: "22",
      realFreq: "33",
      totalFreq: "44",
    };
    window.formModel = formModel;
  </script>
</head>

<body>
  <l-form id="form" onsubmit="event.preventDefault();return false">
    <l-container class="bg-gray-100">
      <l-header>
        系统配置 <l-button type="submit" onclick="save(event)">保存</l-button>
      </l-header>
      <l-main style="overflow: auto" class="bg-white flex justify-center">
        <l-grid class="container" gutter="2">
          <l-row class="border-slate-300 border-b pb-8">
            <l-col span="6">
              <h2 class="text-lg">上送配置</h2>
              <p class="text-slate-400 text-sm">数据上送远端地址配置</p>
            </l-col>
            <l-col>
              <l-row gutter="2" class="mt-4">
                <l-col span="6">

                  <l-form-item prop="ip" required>
                    <l-input-mask required appearance="underline" label="IP" round="false"
                      blocks="{0,255},{0,255},{0,255},{0,255}" mask="[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}"
                      maxlength="20" name="ip">

                    </l-input-mask>
                  </l-form-item>

                </l-col>
                <l-col span="3">
                  <l-form-item prop="port">
                    <l-input-number max="99999" name="port" appearance="underline" label="端口" round="false" />
                  </l-form-item>
                </l-col>
                <l-col span="3">
                  <l-form-item prop="realFreq">
                    <l-input appearance="underline" label="实时频率（ms）" round="false" l-model="formModel" maxlength="5"
                      required name="realFreq" />
                  </l-form-item>
                </l-col>
                <l-col span="3">
                  <div class="mt-2">
                    <l-input appearance="underline" label="总召频率（ms）" l-model="formModel.totalFreq" maxlength="5"
                      required>
                    </l-input>
                  </div>
                </l-col>
                <l-col span="3">
                  <div class="mt-2">
                    <l-select appearance="underline" label="协议" id="country" name="country" autocomplete="country-name"
                      clearable>
                      <option label="TCP1">TCP</option>
                      <option label="UDP1">UDP</option>
                      <option label="HTTP1">HTTP</option>
                      <option label="MQTT1">MQTT</option>
                    </l-select>
                  </div>
                </l-col>
              </l-row>
            </l-col>
          </l-row>
          <l-row class="border-slate-300 border-b pb-8">
            <l-col span="6">
              <h2 class="text-lg">云端配置</h2>
              <p class="text-slate-400 text-sm">可上传/下载云端配置</p>
            </l-col>
            <l-col>
              <l-tabs active-index="1">
                <l-tabs-tab index="1" label="数据库">
                  <l-row gutter="2" class="mt-4">
                    <l-col span="6">
                      <label class="block text-sm font-medium leading-6 text-gray-900">数据库地址</label>
                      <div class="mt-2">
                        <l-input maxlength="20" required />
                      </div>
                    </l-col>
                    <l-col span="3">
                      <label class="block text-sm font-medium leading-6 text-gray-900">用户名</label>
                      <div class="mt-2">
                        <l-input maxlength="5" required />
                      </div>
                    </l-col>
                    <l-col span="3">
                      <label for="enablemonitor" class="block text-sm font-medium leading-6 text-gray-900">密码</label>
                      <div class="mt-2">
                        <l-input maxlength="5" required />
                      </div>
                    </l-col>
                  </l-row>
                </l-tabs-tab>
                <l-tabs-tab index="2" label="域名">
                  <l-row gutter="2" class="mt-4">
                    <l-col span="6">
                      <label class="block text-sm font-medium leading-6 text-gray-900">域名/IP</label>
                      <div class="mt-2">
                        <l-input maxlength="20" required />
                      </div>
                    </l-col>
                    <l-col span="6">
                      <label class="block text-sm font-medium leading-6 text-gray-900">服务地址</label>
                      <div class="mt-2">
                        <l-input maxlength="5" required />
                      </div>
                    </l-col>
                  </l-row>
                </l-tabs-tab>
              </l-tabs>
            </l-col>
          </l-row>
          <l-row class="border-slate-300 border-b pb-8">
            <l-col span="6">
              <h2 class="text-lg">远程控制(未实现)</h2>
              <p class="text-slate-400 text-sm">可远端访问配置界面</p>
            </l-col>
            <l-col>
              <l-row gutter="2" class="mt-4">
                <l-col span="6">
                  <label class="block text-sm font-medium leading-6 text-gray-900">ip</label>
                  <div class="mt-2">
                    <l-input maxlength="20" required />
                  </div>
                </l-col>
                <l-col span="3">
                  <label class="block text-sm font-medium leading-6 text-gray-900">端口</label>
                  <div class="mt-2">
                    <l-input maxlength="5" required />
                  </div>
                </l-col>
                <l-col span="3">
                  <label for="enablemonitor" class="block text-sm font-medium leading-6 text-gray-900">是否启用</label>
                  <div class="mt-2">
                    <input id="enablemonitor" name="enablemonitor" type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  </div>
                </l-col>
              </l-row>
            </l-col>
          </l-row>
          <l-row class="border-slate-300 border-b pb-8">
            <l-col span="6">
              <h2 class="text-lg">主备配置(未实现)</h2>
              <p class="text-slate-400 text-sm">可配置主备双机运行</p>
            </l-col>
            <l-col>
              <l-row gutter="2" class="mt-4">
                <l-col span="6">
                  <label class="block text-sm font-medium leading-6 text-gray-900">ip</label>
                  <div class="mt-2">
                    <l-input maxlength="20" required />
                  </div>
                </l-col>
                <l-col span="3">
                  <label class="block text-sm font-medium leading-6 text-gray-900">端口</label>
                  <div class="mt-2">
                    <l-input maxlength="5" required />
                  </div>
                </l-col>
                <l-col span="3">
                  <label for="enablebackup" class="block text-sm font-medium leading-6 text-gray-900">是否启用</label>
                  <div class="mt-2">
                    <input id="enablebackup" name="enablebackup" type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  </div>
                </l-col>
              </l-row>
            </l-col>
          </l-row>
        </l-grid>
      </l-main>
    </l-container>
  </l-form>

  <script>
    function save(e) {
      let t = e.target;
      t.setProps({ loading: true });
      console.log(formModel);
      // axios.post("/a/b", formModel).then(() => {
      //   alert("保存成功");
      // });
    }
    setTimeout(() => {
      formModel.realFreq = 343434;
      document.querySelector('l-input[name="realFreq"]').value = 343434;
    }, 3000);
  </script>
</body>

</html>