@use "../../../css/mixins";
@use "../../../css/functions" as fn;

@keyframes progress-linear-striped {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: var(--progress-striped-size);
  }
}

@mixin striped-thumb {
  background-image: linear-gradient(135deg,
      hsla(0, 0%, 100%, 0.25) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 100%, 0.25) 0,
      hsla(0, 0%, 100%, 0.25) 75%,
      transparent 0,
      transparent);
  background-size: var(--progress-striped-size);
  background-repeat: repeat;
}

@mixin track-background {
  opacity: 0.125;
  background: currentColor;
}

:host {
  --progress-tip-gap: var(--ce-spacing-md);
  color: var(--color);
}


.ce-progress-circular {
  position: relative;
  transition: 0.5s;
  transform-origin: center center;
  display: flex;
  align-items: center;
  gap: var(--progress-tip-gap);

  >svg {
    top: 0;
    left: 0;
    transform-origin: center;
    transition: all 0.2s ease;
  }

  .ce-progress-track {
    stroke: fn.color(--ce-color-border-rgb, 0.6);
    transition: all 0.3s ease;
  }

  .ce-progress-thumb {
    stroke: currentColor;
    transform: rotateZ(-90deg);
    transform-origin: center;
    transition: all 0.3s ease;
  }

  .ce-progress-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100%;
    color: currentColor;
    white-space: nowrap;
  }

  &.ce-progress-indeterminate {
    >svg {
      transform: rotate(-90deg);
      animation: progress-circular-rotate 1.5s linear infinite;
    }

    .ce-progress-thumb {
      animation: progress-circular-dash 1.5s ease-in-out infinite alternate,
        progress-circular-rotate 1.5s linear infinite;
    }
  }
}

@keyframes progress-circular-rotate {
  100% {
    transform: rotate(270deg);
  }
}

.ce-progress-linear {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  gap: var(--progress-tip-gap);

  .ce-progress-bar {
    position: relative;
    flex: 1;
    overflow: hidden;
  }

  .ce-progress-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;

    @include track-background;
  }

  .ce-progress-thumb {
    background-color: currentColor;
    height: 100%;
    transition: all 0.3s ease;

    &.is-striped {
      @include striped-thumb;
    }
  }

  &.is-active {
    .ce-progress-thumb {
      animation: progress-linear-striped 1s infinite linear;
    }
  }

  &.ce-progress-indeterminate {
    .ce-progress-thumb {
      // background-image: none !important;
      position: absolute;
      animation-name: progress-linear-dash;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 1.5s;
      animation-direction: var(--pl-thumb-alternate);

      &.is-striped {
        @include striped-thumb;
      }

      // animation: progress-linear-dash 1.2s linear infinite;
    }
  }

  .ce-progress-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-inline: var(--ce-spacing-md);

    &.ce-progress-align-center {
      justify-content: center;
    }

    &.ce-progress-align-insidestart {
      justify-content: flex-start;
    }

    &.ce-progress-align-insideend {
      justify-content: flex-end;
    }
  }
}

@keyframes progress-linear-dash {
  0% {
    left: -20%;
    width: 0%;
  }

  50% {
    left: 50%;
    width: 50%;
  }

  // 75% {
  //   left: 70%;
  //   width: 30%;
  // }

  100% {
    left: 120%;
    width: 0%;
  }
}

@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, var(--pc-stroke-dasharray-0);
    stroke-dashoffset: 0px;
  }

  100% {
    stroke-dasharray: var(--pc-stroke-dasharray-100);
    stroke-dashoffset: var(--pc-stroke-dashoffset-100);
  }
}