@mixin round-left {
    border-top-left-radius: var(--l-border-radius);
    border-bottom-left-radius: var(--l-border-radius);
}

@mixin round-right {
    border-top-right-radius: var(--l-border-radius);
    border-bottom-right-radius: var(--l-border-radius);
}

@mixin text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin text-md {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}