@mixin round-left {
  border-top-left-radius: var(--ce-round-sm);
  border-bottom-left-radius: var(--ce-round-sm);
}

@mixin round-right {
  border-top-right-radius: var(--ce-round-sm);
  border-bottom-right-radius: var(--ce-round-sm);
}

@mixin text-sm {
  font-size: var(--ce-font-sm);
  line-height: 1.25rem;
}

@mixin text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
