/********************
* base styles
* @author holyhigh
*********************/
@use './root.scss';

//same as --tw
.text-center {
    text-align: center;
}

:host {
    color: var(--ce-color-text);
    font-size: 14px;
}