@import "../../../css/_functions.scss";
@import "../../../css/utils";

:host {
  display: block;
  max-width: 33vw;
}

.c-notification {
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  background-color: color(--l-color-background);
  border-radius: var(--l-border-radius-md);
  background-color: #fff;
  box-shadow:
    rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

  .main {
    display: flex;
    overflow: hidden;
  }

  &.__closable {
    display: grid;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition:
      opacity 0.4s ease-in-out,
      grid-template-rows 0.3s ease-in-out,
      padding 0.3s ease-in-out;

    &.--show {
      grid-template-rows: 1fr;
      opacity: 1;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
  }

  &.__info {
    .c-notification-icon {
      color: color(--l-color-blue-400);
    }
  }

  &.__success {
    .c-notification-icon {
      color: color(--l-color-green-400);
    }
  }

  &.__warning {
    .c-notification-icon {
      color: color(--l-color-yellow-400);
    }
  }

  &.__error {
    .c-notification-icon {
      color: color(--l-color-red-400);
    }
  }

  &-icon {
    l-icon {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      background-size: contain;
      margin-right: 0.5rem;
    }
  }

  &-title {
    margin: 0;
    font-weight: 500;
    font-size: var(--l-font-md);
    line-height: var(--l-lineh-sm);
    margin: 0;
    color: color(--l-color-text-header);
  }

  &-descr {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    margin-top: 0.25rem;
    color: color(--l-color-text-secondary);
    word-break: break-all;
  }

  &-content {
    position: relative;
    flex: 1;
  }

  &-close {
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    color: #666;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}
