@use "../../../css/functions" as fn;

:host {
  --table-color-border: var(--ce-color-border-secondary);
  --table-color-highlight: #f5f5f5;
  --table-color-border-fixed: var(--ce-color-border);
  // --table-tree-indent: 1em;
  --table-bgcolor-row: #fff;
  --table-bgcolor: #f0f0f0;
}

.ce-table {
  display: flex;
  flex-direction: column;
  position: relative;
  height: var(--table-height, 100%);
  width: 100%;
  overflow: hidden;
  outline: none;
  background: inherit;

  .ce-table-row {
    display: flex;
    // overflow: hidden;
    width: fit-content;

    .ce-table-cell {
      border-bottom: thin solid var(--table-color-border);
      // white-space: nowrap;
      flex-shrink: 0;
      user-select: none;
    }
  }

  .ce-table-column-fixed {
    // overflow: hidden;
    position: absolute;
    display: inline-flex;
    z-index: 1;
    background-color: var(--ce-color-background);

    &.is-left {
      left: 0;

      .ce-table-cell:last-child {
        border-right: 0;
      }
    }

    &.is-right {
      right: 0;

      .ce-table-cell:last-child {
        border-right: 0;
      }
    }
  }

  .ce-table-column-scroll {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    height: 100%;

    .ce-table-cell {

      // display: inline-block;
      &:last-child {
        border-right: 0;
      }
    }

    .ce-table-cell:enabled:last-child {
      border-right: 0;
    }
  }

  .ce-table-head {
    overflow: hidden;
    transition: box-shadow 0.3s;
    z-index: 2;
    border-bottom: thin solid var(--table-color-border);
    display: none;

    &.ce-table-shadow {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    }

    .ce-table-column-fixed.is-left ::slotted(ce-column[edge-column]) {
      border-right: 0 !important;
    }

    .ce-table-column-scroll ::slotted(ce-column[edge-column]) {
      border-right: 0 !important;
    }

    ::slotted(ce-column:last-of-type) {
      border-right: 0 !important;
    }

    .ce-table-row {
      width: var(--table-header-row-width);
    }

    .ce-table-column-fixed {
      height: var(--table-header-row-height);
    }
  }

  .ce-table-foot {
    overflow: hidden;
    display: none;
    transition: box-shadow 0.3s;
    z-index: 2;
    color: var(--ce-color-text);
    border-top: thin solid var(--table-color-border);

    .ce-table-row {
      background: inherit;
      border-bottom: none;
      width: var(--table-header-row-width);
    }

    .ce-table-column-fixed {
      background: inherit;
    }

    &.ce-table-shadow {
      box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.08);
    }

    .ce-table-column-fixed.is-left ::slotted(ce-column-foot[edge-column]) {
      border-right: 0 !important;
    }

    .ce-table-column-scroll ::slotted(ce-column-foot[edge-column]) {
      border-right: 0 !important;
    }

    ::slotted(ce-column-foot:last-of-type) {
      border-right: 0 !important;
    }

    ::slotted(ce-column-foot) {
      font-size: var(--ce-font-md);
    }
  }

  .ce-table-body {
    flex: 1;
    position: relative;
    overflow: hidden;

    //选框 
    .ce-table-cell:not(.show-all).ce-table-selected-cell {
      background-color: rgba(var(--ce-color-primary-rgb) / .1) !important;

      &.ce-table-selected-cell-left {
        border-left: 0.5px solid var(--ce-color-primary) !important;
      }

      &.ce-table-selected-cell-right {
        border-right: 0.5px solid var(--ce-color-primary) !important;
      }

      &.ce-table-selected-cell-top {
        border-top: 0.5px solid var(--ce-color-primary) !important;
      }

      &.ce-table-selected-cell-bottom {
        border-bottom: 0.5px solid var(--ce-color-primary) !important;
      }
    }

    //分组
    &.is-grouping {
      .ce-table-group-stats {
        .ce-table-cell:not(.ce-table-tree-cell, [column^="__"]) {
          .ce-table-cell-content {
            font-size: max(12px, var(--ce-font-sm-em));
            text-align: right;
          }

          color: var(--ce-color-text-secondary);

          .ce-table-stats-label {
            margin-right: var(--ce-spacing-xs);
            color: var(--ce-color-text-secondary);
          }
        }
      }
    }

    .ce-table-cell:not([column="__scroller"]) {
      min-width: 40px;
    }

    .ce-table-cell[column="__scroller"] {
      background-color: transparent;
      pointer-events: none;
    }

    &-container {
      // overflow: hidden;
      position: relative;
    }

    ce-message#custommsg {
      pointer-events: none;
    }

    .is-empty {
      display: none;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      color: var(--ce-color-placeholder);
    }

    .ce-table-row {
      height: var(--table-row-height);
    }

    .ce-table-row .ce-table-cell[column="__selection"] .ce-table-cell-content[disabled] {
      span[name="selectlabel"] {
        display: block !important;
      }

      ce-checkbox[name="selectbox"] {
        display: none !important;
      }
    }

    .ce-table-row .ce-table-cell[column="__selection"] .ce-table-cell-content[checked]:not([disabled]),
    .ce-table-row:hover .ce-table-cell[column="__selection"] .ce-table-cell-content:not([disabled]) {
      span[name="selectlabel"] {
        display: none !important;
      }

      ce-checkbox[name="selectbox"] {
        display: block !important;
      }
    }

    .ce-table-v-wrapper:not(.ce-table-group-stats) {
      .ce-table-row:hover {

        .ce-table-cell.expandable[column="__index"],
        .ce-table-cell.expandable[column="__selection"] {
          span[name="selectlabel"] {
            display: none !important;
          }

          .ce-table-expand {
            display: inline-flex; // !important;
          }
        }
      }
    }

    .ce-table-column-fixed {
      height: var(--table-row-height);
      top: 0px;
    }
  }

  &.is-empty {
    .is-empty {
      display: block;
    }

    ce-scroller {
      display: none;
    }
  }

  .uii-draggable-ghost {
    position: absolute;
    height: 100%;
    opacity: 0.3;
    border: 1px dashed var(--table-color-active);
    z-index: 2;
  }

  &.is-highlight {

    .ce-table-body .ce-table-v-wrapper:not(.ce-table-group-stats) .ce-table-row:hover .ce-table-column-scroll,
    .ce-table-body .ce-table-v-wrapper:not(.ce-table-group-stats) .ce-table-row:hover .ce-table-column-fixed {
      .ce-table-cell {
        background-color: var(--table-color-highlight) !important;
      }
    }
  }

  &.is-show-footer {
    .ce-table-foot {
      display: block !important;
    }

    .ce-table-foot .ce-table-row {
      height: var(--table-footer-height);
    }

    .ce-table-foot .ce-table-column-fixed {
      height: var(--table-footer-height);
      bottom: 0px;
    }
  }

  &.is-show-header {
    .ce-table-head {
      display: block;
    }
  }

  &.is-fixed-right {
    .ce-table-column-fixed.is-right {
      border-left: thin solid var(--table-color-border-fixed);
    }
  }

  &.is-fixed-left {
    .ce-table-column-fixed.is-left {
      border-right: thin solid var(--table-color-border-fixed);
    }
  }

  &.is-show-column-line {
    .ce-table-row {
      .ce-table-cell {
        border-right: var(--table-column-border-right);
      }
    }

    ::slotted(ce-column),
    ::slotted(ce-column-foot) {
      border-right: var(--table-column-border-right);
    }
  }

  &.is-first-filled {
    .ce-table-body-container .ce-table-v-wrapper {
      // display: none;
    }
  }

  &.is-ready {
    .ce-table-body-container .ce-table-v-wrapper {
      position: absolute;

      .ce-table-row {
        position: static;
      }
    }
  }

  .ce-table-column-scroll {
    transform: var(--table-column-scroll-padding-left);
  }

  .ce-table-foot .ce-table-column-scroll {
    transform: var(--table-column-scroll-padding-left);
  }
}

.ce-table-row-height-type- {
  &compact .ce-table-cell {
    white-space: nowrap;

    .ce-table-cell-content {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &medium .ce-table-cell {
    white-space: normal;
    word-break: break-all;
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }

  &loose .ce-table-cell {
    white-space: normal;
    word-break: break-all;
    line-clamp: 5;
    -webkit-line-clamp: 5;
  }
}

@keyframes gradient {
  0% {
    background: linear-gradient(to bottom,
        #fff,
        rgba(var(--ce-color-primary-rgb) / 0.1));
  }

  50% {
    background: linear-gradient(to bottom,
        rgba(var(--ce-color-primary-rgb) / 0.1),
        #fff,
        rgba(var(--ce-color-primary-rgb) / 0.1));
  }

  100% {
    background: linear-gradient(to bottom,
        rgba(var(--ce-color-primary-rgb) / 0.1),
        rgba(var(--ce-color-primary-rgb) / 0.1));
  }
}

.ce-table-cell {
  position: relative;
  overflow: hidden;

  &.ce-table-tree-cell {
    display: flex !important;
    // align-items: flex-start !important;
    flex-direction: row;

    /* 树形列强制左对齐 */
    .ce-table-cell-content {
      text-align: left !important;
    }
  }

  .ce-table-caret {
    display: flex;
    align-items: center;

    >ce-icon {
      cursor: pointer;
      aspect-ratio: 1;
      height: fit-content;
    }

    @for $i from 1 through 10 {
      &[data-level="#{$i}"] {
        padding-left: calc(var(--table-tree-indent) * #{$i});
      }
    }

    ce-icon {
      // transition: transform 0.3s;
    }

    &.is-expanded {
      ce-icon {
        transform: rotateZ(90deg) !important;
      }
    }

    &.is-expanded {
      grid-template-rows: 1fr;
    }
  }

  &[__note] {
    &::after {
      z-index: 2;
      content: "";
      pointer-events: none;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 0;
      height: 0;
      border: 4px solid #eec419;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }

  &[__merged] {
    display: none;
  }

  // &.is-show-all {
  //   overflow: visible;
  //   border: 0;

  //   .ce-table-cell-content {
  //     overflow: auto;
  //     height: initial;
  //     line-height: normal;
  //     position: absolute;
  //     word-break: break-all;
  //     white-space: normal;
  //     background: #fff;
  //     border: 2px solid var(--ce-color-primary) !important;
  //     z-index: 9;
  //     background-color: #fff;
  //     max-height: calc(var(--table-body-height) / 2);
  //   }

  // }

  .ce-table-cell-content {
    width: inherit;
    line-height: var(--ce-lineh-md);
    padding: 0 var(--ce-spacing-sm) 0 var(--ce-spacing-sm);
    height: 100%;

    [name="tags"],
    [name="users"],
    [name="imgs"],
    [name="text"] {
      &:empty {
        height: 0;
      }
    }

    [name="text"] {
      height: 100%;
      display: grid;
      align-items: center;

      &:not(:empty) {
        // margin-top: .25rem;

        +[name="tags"],
        +[name="users"],
        +[name="imgs"] {
          display: none;
        }
      }

      &.ce-table-group-size {
        font-size: max(12px, var(--ce-font-sm-em));
        color: var(--ce-color-text-secondary);
      }
    }

    [name="tags"],
    [name="users"],
    [name="imgs"] {
      // overflow: hidden;
      // text-overflow: ellipsis;
      // display: inline;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    ce-img {
      margin-right: var(--ce-spacing-sm);
      height: calc(0.8 * var(--table-row-height));
      max-height: calc(0.8 * 34px);
      max-width: var(--table-row-height);
    }

    ce-tag {
      // margin-bottom: var(--ce-spacing-sm);
      // margin-right: var(--ce-spacing-sm);

      &[empty] {
        display: none;
      }

      &.user {
        padding: 0;
        padding-right: var(--ce-spacing-sm);
        overflow: hidden;
        text-overflow: ellipsis;

        &.ce-table-link {
          cursor: pointer;
        }

        ce-avatar {
          &::part(icon) {
            color: #888;
            background: #ddd;
          }

          margin-right: var(--ce-spacing-sm);
          vertical-align: bottom;
        }
      }
    }

    >a {
      color: inherit;
    }
  }
}

.ce-table-subcolumn {
  display: flex;
  flex: 1;
  overflow: hidden;
  border-top: thin solid var(--table-color-border);
}

.ce-table-body-container {
  overflow: hidden;
  min-height: 100%;
  // background-color: var(--table-bgcolor);
  padding-bottom: var(--table-body-container-padding);

  #vpillar {
    width: 1px;
    z-index: -1;
    position: relative;
  }

  .ce-table-v-wrapper {
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    padding-right: var(--table-body-container-wrapper-padding-right);
    display: none;
    background-color: var(--table-bgcolor-row);

    &[available] {
      display: block;
      pointer-events: all;
    }

    &.ce-table-group-stats {
      [name="selectlabel"] {
        color: var(--ce-color-text-secondary);
      }
    }

    // &:has(.ce-table-cell.show-all) {
    //   z-index: 9;
    // }

    .ce-table-row {
      position: relative;
      width: 100%;

      .ce-table-cell {
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      .ce-table-cell[column="__index"],
      .ce-table-cell[column="__selection"] {
        text-align: center;

        span[name="selectlabel"] {
          color: var(--ce-color-placeholder);
        }

        .ce-table-expand {
          cursor: pointer;
          display: none;
        }
      }

      .ce-table-cell[column="__selection"] .ce-table-expand {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%) !important;
      }
    }
  }
}

.ce-table-body.is-striped {

  .ce-table-body-container>.ce-table-v-wrapper[data-row-index$="1"],
  .ce-table-body-container>.ce-table-v-wrapper[data-row-index$="3"],
  .ce-table-body-container>.ce-table-v-wrapper[data-row-index$="5"],
  .ce-table-body-container>.ce-table-v-wrapper[data-row-index$="7"],
  .ce-table-body-container>.ce-table-v-wrapper[data-row-index$="9"],
  .ce-table-body-container>.ce-table-row:nth-child(odd) {
    .ce-table-cell {
      background-color: var(--table-color-stripe);
    }

    .ce-table-column-fixed .ce-table-cell {
      background-color: var(--table-color-stripe);
    }
  }
}

.uii-draggable-ghost {
  opacity: 1 !important;
  border-color: currentColor !important;
  border-width: 0 !important;
  border-left-width: 1px !important;
  border-style: dotted !important;
}