@use "../../css/functions" as fn;

ce-link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  color: -webkit-link;

  &[underline="always"] {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &[underline="hover"] {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  &[disabled] {
    cursor: not-allowed;

    &[type="info"] {
      color: fn.color(--ce-color-info-light-rgb);
    }

    &[type="success"] {
      color: fn.color(--ce-color-success-light-rgb);
    }

    &[type="warning"] {
      color: fn.color(--ce-color-warning-light-rgb);
    }

    &[type="error"] {
      color: fn.color(--ce-color-error-light-rgb);
    }
  }

  &[type="info"] {
    color: fn.color(--ce-color-info-rgb);
  }

  &[type="success"] {
    color: fn.color(--ce-color-success-rgb);
  }

  &[type="warning"] {
    color: fn.color(--ce-color-warning-rgb);
  }

  &[type="error"] {
    color: fn.color(--ce-color-error-rgb);
  }
}